* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    transition: 2s;
}

#splashScreen {
    background: rgb(107, 105, 213);
    color: white;
    height: 100vh;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#splashScreen a {
    text-decoration: none;
    display: block;
    margin: 30px;

    padding: 20px 100px;

    font-weight: 600;

    border-radius: 50px;

    background-color: white;
    color: rgb(107, 105, 213);
    text-transform: uppercase;
    font-size: 25px;

    box-shadow: 0px 10px #00000089;
}

#splashScreen p {
    font-size: 25px;
}

#infoContainer {
    padding: 15px;

    text-align: center;

    text-align: left;
}

#infoContainer ul {
    padding: 0;
}
#infoContainer h3 {
    font-size: 25px;
    padding: 10px;

    border-radius: 8px 8px 0 0;
}

#infoContainer li {
    list-style: none;
    margin: 15px;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
}

#infoContainer li p {
    padding: 30px 20px;
}

#infoContainer li a {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.resource-link {
    background: rgb(107, 105, 213);
    font-weight: 600;
    color: white;
    padding: 10px 30px;
    display: block;
    border-radius: 8px;
}

h2 {
    margin: 15px auto 15px auto;
    text-align: center;
}

.more-info {
    transition: 2s;
    height: 0;
    display: none;
}

.more-info-trigger {
    padding: 0px 0 15px 0;
    text-align: center;
}

h3 {
    text-align: center;
}
